@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Ogg';
  src: url('/fonts/Ogg.ttc');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-gold: oklch(0.8341 0.0584 95.41);
  --color-gold-light: oklch(0.9141 0.0584 95.41);
  --color-gold-lighter: oklch(0.9541 0.0584 95.41);
  --color-gold-lightest: oklch(0.9941 0.0584 95.41);
  --color-gold-dark: oklch(0.7541 0.0584 95.41);
  --color-gold-darker: oklch(0.6541 0.0584 95.41);
  --color-gold-darkest: oklch(0.5541 0.0584 95.41);
  --color-charcoal: oklch(0.4527 0.007 264.5);
  --color-charcoal-dark: oklch(0.3527 0.007 264.5);
  --color-charcoal-light: oklch(0.5527 0.007 264.5);
  --color-charcoal-lighter: oklch(0.6527 0.007 264.5);
  --color-charcoal-lightest: oklch(0.7527 0.007 264.5);
  --color-charcoal-darkest: oklch(0.2527 0.007 264.5);
  --color-charcoal-darker: oklch(0.3527 0.007 264.5);
  --color-charcoal-lighter: oklch(0.5527 0.007 264.5);
  --color-charcoal-lightest: oklch(0.6527 0.007 264.5);
  --font-ogg: 'Ogg', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}


@layer base {

  body {
    @apply font-poppins;
  }

  h1 {
    @apply text-6xl font-bold font-ogg text-gold;
  }
}